.page {
  padding: 6rem 1rem;
}

.category {
  margin-bottom: 5rem;
}

.categoryTitle {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.services {
  display: grid;
  gap: 2rem;
}

.service {
  display: grid;
  gap: 1rem;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: 16px;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.duration {
  font-size: 0.9rem;
  opacity: 0.7;
}

.price {
  display: flex;
  gap: 1rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .services {
    grid-template-columns: repeat(3, 1fr);
  }
}
