.preLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: 10;
  background-color: #2f3324;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.4375rem;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  will-change: transform;
}

.counter {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-family: serif;
  font-size: 8rem;
  line-height: 1;
  color: white;
}
