.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 6rem;
  mix-blend-mode: difference;
}

.menuButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.hamburger {
  position: relative;
  display: block;
  width: 1.75rem;
  height: .875rem;
}

.line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: black;
  transform-origin: center;
}

.line:first-child {
  top: 0;
}

.line:last-child {
  bottom: 0;
}

@media (min-width: 48rem) {
  .header {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
